{% extends "base.html" %}
{% block container %}
	
	<center>
          <form action="" method="post">{% csrf_token %}
            {% if form_error %}
            <p style="color: red;">Please complete all form fields</p>
            {% endif %}
            {% for field in uform %}
            <p>{{ field }}</p>
            {% endfor %}
            {% for field in dform %}
            <p>{{ field }}</p>
            {% endfor %}
            <p> <button class="btn btn-large btn-primary" type="submit">Continue</button></p>
          </form>
        </center>
		
		<script src="https://code.jquery.com/jquery.js"></script>
		 <script src="static/js/bootstrap.min.js"></script>
{% endblock container %}
