<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
  <style>
  body {
          font-family: 'Raleway', serif;
          font-size: 19px;
        }
        .header {
            margin-bottom: 10px;
        }
        .footer {
            text-align: center;
            font-size: .8em;
            color: #999;
        }
  </style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="logo" href="/static/img/Shit Deliveryze Logo.jpg">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
       <link rel="stylesheet" href="/static/css/font-awesome.min.css">
       <link rel="stylesheet" href="/static/css/style.css">
	   <script src="bootstrap-3.0.0/assets/js/html5shiv.js"></script>  
	   <script src="bootstrap-3.0.0/assets/js/respond.min.js"></script>  
	   <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	      
	  
</head>
	<body>
		<center>Email Address 
		Password
	<input type="submit" class="btn btn-primary btn-large" value="Login"></center>
	

	<script src="https://code.jquery.com/jquery.js"></script>
	 <script src="js/bootstrap.min.js"></script>
	</body>
	</html>