{% extends "base.html" %}
{% block container %}
	<center>
		<div class="container">
		<div class="row voffset">
		<h1>We're done!</h1>
		<p>your total is</p>
			{{total}}
		<p><a href="done.html" input type="submit" class="btn btn-success btn-large"><i class="icon-white icon-ok"></i> Place my order</a><p>
		<p><a href="homepage.html" class="btn btn-danger"><i class="icon-white icon-remove"></i> I changed my mind.</a></p>
		
		
	</div>
	
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	 <script src="static/js/bootstrap.min.js"></script>
{% endblock container %}